/*
	* Personal Cards 1.0 by Luca Cassani *

	You can copy, modify, publish, use, sell,
	or distribute this template for any purpose,
	commercial or non-commercial, and by any means.
	It requires no special copyright notes nor attribution.
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #212121;
    background-color: #EEE;
    font-family: 'Roboto Mono',monospace;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23bbaa77' fill-opacity='0.57'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

a {
	/* Change link color */
    color: #BB7788;
    text-decoration: none;
}

a:hover {
	/* Change link color (on mouse over) */
    color: #aa9555;
}

.card {
    width: 600px;
    margin: 0 auto;
    color: #212121;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.19),0 2px 6px 0 rgba(0,0,0,0.2);
    overflow: auto;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.28 88H68.413l19.298 19.298L81.28 88zm2.107 0h13.226L90 107.838 83.387 88zm15.334 0h12.866l-19.298 19.298L98.72 88zm-32.927-2.207L73.586 78h32.827l.5.5 7.294 7.293L115.414 87l-24.707 24.707-.707.707L64.586 87l1.207-1.207zm2.62.207L74 80.414 79.586 86H68.414zm16 0L90 80.414 95.586 86H84.414zm16 0L106 80.414 111.586 86h-11.172zm-8-6h11.173L98 85.586 92.414 80zM82 85.586L87.586 80H76.414L82 85.586zM17.414 0L.707 16.707 0 17.414V0h17.414zM4.28 0L0 12.838V0h4.28zm10.306 0L2.288 12.298 6.388 0h8.198zM180 17.414L162.586 0H180v17.414zM165.414 0l12.298 12.298L173.612 0h-8.198zM180 12.838L175.72 0H180v12.838zM0 163h16.413l.5.5 7.294 7.293L25.414 172l-8 8H0v-17zm0 10h6.613l-2.334 7H0v-7zm14.586 7l7-7H8.72l-2.333 7h8.2zM0 165.414L5.586 171H0v-5.586zM10.414 171L16 165.414 21.586 171H10.414zm-8-6h11.172L8 170.586 2.414 165zM180 163h-16.413l-7.794 7.793-1.207 1.207 8 8H180v-17zm-14.586 17l-7-7h12.865l2.333 7h-8.2zM180 173h-6.613l2.334 7H180v-7zm-21.586-2l5.586-5.586 5.586 5.586h-11.172zM180 165.414L174.414 171H180v-5.586zm-8 5.172l5.586-5.586h-11.172l5.586 5.586zM152.933 25.653l1.414 1.414-33.94 33.942-1.416-1.416 33.943-33.94zm1.414 127.28l-1.414 1.414-33.942-33.94 1.416-1.416 33.94 33.943zm-127.28 1.414l-1.414-1.414 33.94-33.942 1.416 1.416-33.943 33.94zm-1.414-127.28l1.414-1.414 33.942 33.94-1.416 1.416-33.94-33.943zM0 85c2.21 0 4 1.79 4 4s-1.79 4-4 4v-8zm180 0c-2.21 0-4 1.79-4 4s1.79 4 4 4v-8zM94 0c0 2.21-1.79 4-4 4s-4-1.79-4-4h8zm0 180c0-2.21-1.79-4-4-4s-4 1.79-4 4h8z' fill='%23bbaa77' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.card:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);﻿
}

#quick_card {
    padding: 25px;
    margin-top: 10vh;
    text-align: center;
}

#quick_card #photo {
    height: 100px;
    width: 100px;
    border-radius:99px;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.19),0 2px 6px 0 rgba(0,0,0,0.23);
}

#quick_card #name {
    font-weight: 400;
    margin-top: 20px;
    font-size: 19px;
    color: #212121;
}

#quick_card #description {
    font-weight: 400;
    margin-top: 15px;
    font-size: 15px;
    color: #616161;
}

#about_card {
    position: relative;
    padding: 15px 32px 8px;
    margin-top: 22px;
    background-color: #ffffff;
    background-image: url("../img/floating-cogs.svg");
}

#about_card>.tab {
    margin-top: 10px;
    margin-bottom: 10px;
}

#about_card>.tab>.title {
    font-size: 16px;
    /* Change title and title icon color (About Card) */
    color: #BBAA77;
}

.title i {
    position: relative;
    left: -10px;
}

#about_card>.tab>.content {
    padding: 5px 20px;
    position: relative;
}

#about_card .element {
    margin-bottom: 5px;
    margin-top: 5px;
}

#about_card .element .table {
    width: 100%;
}

#about_card .element .name {
    color: #212121;
    font-size: 15px;
    margin-bottom: 3px;
}

#about_card .element .date{
    color:#616161;
    font-size:13px;
    margin-bottom:3px;
    text-align: right;
}

#about_card .element .info {
    color: #616161;
    font-size: 14px;
}

hr {
    width: 95%;
    color: #E0E0E0;
    background-color: #E0E0E0;
    height: 1px;
    border: 0;
}

#contact_card {
    position: relative;
    padding: 15px 30px;
    margin-top: 22px;
    margin-bottom: 40px;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23bbaa77' fill-opacity='0.2'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#contact_card>.tab {
    margin-top: 3px;
    margin-bottom: 8px;
}

#contact_card>.tab>.title {
    font-size: 16px;
    /* Change title and title icon color (Contact Card) */
    color: #BBAA77;
}

#contact_card>.tab>.content {
    padding-top: 10px;
    text-align: center;
}

#contact_card>.tab>.content>.contacts {
    margin: 0 10px;
    display: inline-block;
    font-size: 14px;
    color: #212121;
}

footer {
    z-index: -1;
    bottom: 0;
    width: 100%;
    text-align: center;
    text-align: center;
    font-size: 15px;
    color: #99864D;
    padding-bottom: 10px;
    font-weight: 700;
}

@media (min-width: 481px) and (max-width: 960px) {
    .card {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .card {
        width: 90%;
    }}
