/* https://tailwindcss.com/docs/functions-and-directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Fira Code";
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
    src: url("/assets/fonts/fira-code-500-latin.woff2") format("woff2");
  }
}

@layer components {
  .card {
    @apply mx-auto w-11/12 max-w-screen-sm rounded-md border border-gold/20 bg-white shadow-md transition-shadow duration-300 hover:shadow-xl;
  }

  .link {
    @apply text-rose no-underline underline-offset-2 hover:underline;
  }
}

i {
  font-size: 1.25rem;
  display: inline-block;
  vertical-align: -16%;
}
