---
import EducationIcon from "./assets/EducationIcon.astro";

---

<section>
  <h1 class="text-gold">
    <EducationIcon class="relative -left-2.5 inline-block h-5 w-5 align-text-top" />Education
  </h1>

  <article class="ml-5 py-3">
    <div class="flex flex-wrap items-baseline justify-between gap-1">
      <h2 class="flex-[1_40ch] pr-2">
        B.Sc. in Computer Science &amp; Engineering
      </h2>

      <span class="text-sm text-gray-700">2013 - 2017</span>
    </div>

    <p class="mt-2">North Western University, Khulna</p>
    <p class="mt-1">Bangladesh</p>
    <p class="mt-2.5 text-sm text-gray-700">CGPA: 3.64 out of 4.0</p>

    <h3 class="mt-1 flex flex-wrap items-baseline justify-between gap-1">
      <a
        class="link flex-[1_40ch] pr-2"
        href="https://docs.google.com/document/d/e/2PACX-1vT7CVkDahwiR00jYvD5jbjW77lg9Cja7zUawmv3bTk5hIK2WqKve5eNLMCJlqC5BvYTv9IaFFkvEbLP/pub"
        target="_blank"
        style="margin-top: 0.5rem"
        >Solving Asynchronous Problems Effectively with Reactive Programming</a
      >

      <span class="text-sm text-gray-700">Thesis</span>
    </h3>
  </article>
</section>
