<footer>
  <article class="card bg-[url('/assets/patterns/hideout.svg')] px-8 py-5">
    <h1 class="text-gold">
      <i class="bx bx-bullseye relative -left-2.5"></i>Contact
    </h1>

    <div class="my-4 flex flex-wrap justify-center gap-5 text-center">
      <a
        class="link"
        href="mailto:hello@anissan.com"
        data-umami-event="email-id-link"
        ><i class="bx-fw bx bxs-envelope mr-2"></i>Email</a
      >

      <a
        class="link"
        href="https://twitter.com/ni554n"
        target="_blank"
        data-umami-event="twitter-link"
        ><i class="bx-fw bx bxl-twitter mr-2"></i>Twitter</a
      >

      <a
        class="link"
        href="https://www.facebook.com/ni554n/"
        target="_blank"
        data-umami-event="facebook-link"
        ><i class="bx-fw bx bxl-facebook-square mr-2"></i>Facebook</a
      >
    </div>
  </article>

  <a
    class="link mx-auto my-5 block w-fit text-center hover:text-gray-700"
    href="https://github.com/ni554n/ni554n.github.io"
    target="_blank"
    data-umami-event="source-code-link"
    ><i class="bx bxs-heart" title="Designed & Developed by yours truly"></i></a
  >
</footer>
