---
import ContactIcon from "./assets/ContactIcon.astro";
import FacebookLogo from "./assets/FacebookLogo.astro";
import MailIcon from "./assets/MailIcon.astro";
import TwitterLogo from "./assets/TwitterLogo.astro";
---

<footer>
  <article class="card bg-[url('/assets/patterns/hideout.svg')] px-8 py-5">
    <h1 class="text-gold">
      <ContactIcon
        class="relative -left-2.5 inline-block h-5 w-5 align-text-top"
      />Contact
    </h1>

    <div class="my-4 flex flex-wrap justify-center gap-5 text-center">
      <a
        class="link"
        href="mailto:hello@anissan.com"
        data-umami-event="email-id-link"
        ><MailIcon class="mr-2 inline-block h-5 w-5 align-text-top" />Email</a
      >

      <a
        class="link"
        href="https://twitter.com/ni554n"
        target="_blank"
        data-umami-event="twitter-link"
        ><TwitterLogo
          class="mr-2 inline-block h-5 w-5 align-text-top"
        />Twitter</a
      >

      <a
        class="link"
        href="https://www.facebook.com/ni554n/"
        target="_blank"
        data-umami-event="facebook-link"
        ><FacebookLogo
          class="mr-2 inline-block h-5 w-5 align-text-top"
        />Facebook</a
      >
    </div>
  </article>

  <a
    class="link mx-auto my-5 block w-fit text-center hover:text-gray-700"
    href="https://github.com/ni554n/ni554n.github.io"
    target="_blank"
    data-umami-event="source-code-link"
    ><i class="bx bxs-heart" title="Designed & Developed by yours truly"></i></a
  >
</footer>
