---
import NissanLogo from "./assets/NissanLogo.astro";

---

<header
  class="card mt-[10vh] bg-[url('/assets/patterns/glamorous.svg')] px-9 py-8 text-center"
>
    <NissanLogo class="mx-auto h-20 w-20 rounded-full drop-shadow" />

  <h1 class="mt-5 text-xl">Nissan Ahmed</h1>
  <p class="mt-4 text-gray-700">&lt; Developer & Designer &gt;</p>
</header>
