<header
  class="card mt-[10vh] bg-[url('/assets/glamorous.svg')] px-9 py-8 text-center"
>
  <img
    class="mx-auto h-24 w-24 rounded-full drop-shadow"
    alt="Nissan Ahmed's logo"
    src="assets/ni554n.svg"
  />

  <h1 class="mt-5 text-xl">Nissan Ahmed</h1>
  <p class="mt-4 text-gray-700">&lt; Developer & Designer &gt;</p>
</header>
