---
import GitHubLogo from "./assets/GitHubLogo.astro";
import LinkedInLogo from "./assets/LinkedInLogo.astro";
import ProjectIcon from "./assets/ProjectIcon.astro";
---

<section>
  <h1 class="text-gold">
    <ProjectIcon
      class="relative -left-2.5 inline-block h-5 w-5 align-text-top"
    />Projects
  </h1>

  <div class="divide-y divide-gold/25 [&_article]:ml-5 [&_article]:py-3">
    <article class="flex items-center justify-between">
      <div class="flex-1">
        <a
          class="link group hover:no-underline"
          href="https://github.com/ni554n"
          target="_blank"
          data-umami-event="github-link"
          ><span class="hover:underline">Github Profile</span><span
            class="ml-2 inline-block transition-transform group-hover:translate-x-1"
            >-&gt;</span
          ></a
        ><p class="mt-2 text-sm text-gray-700">
          Open-source projects I maintain
        </p>
      </div>

      <GitHubLogo class="w-6 h-6 text-gray-700" />
    </article>

    <article class="flex items-center justify-between">
      <div class="flex-1">
        <a
          class="link group hover:no-underline"
          href="https://www.linkedin.com/in/ni554n/details/projects/"
          target="_blank"
          ><span class="hover:underline">LinkedIn Profile</span><span
            class="ml-2 inline-block transition-transform group-hover:translate-x-1"
            >-&gt;</span
          ></a
        ><p class="mt-2 text-sm text-gray-700">Timeline of my completed apps</p>
      </div>

      <LinkedInLogo class="w-6 h-6 text-gray-700" />
    </article>
  </div>
</section>

<style>
  article:has(a:hover) svg {
    color: theme(colors.rose);
  }
</style>
