---
import AndroidIcon from "./assets/AndroidIcon.astro";
import ChromeIcon from "./assets/ChromeIcon.astro";
import GitHubLogo from "./assets/GitHubLogo.astro";
import LinkedInLogo from "./assets/LinkedInLogo.astro";
import ProjectIcon from "./assets/ProjectIcon.astro";
import TelegramIcon from "./assets/TelegramIcon.astro";
---

<section>
  <h1 class="text-gold">
    <ProjectIcon
      class="relative -left-2.5 inline-block h-5 w-5 align-text-top"
    />Projects
  </h1>

  <div class="divide-y divide-gold/25 [&_article]:ml-5 [&_article]:py-3">
    {/* Battarang */}
    <article class="flex items-center justify-between gap-3">
      <div class="flex-1">
        <a
          class="link group"
          href="https://battarang.anissan.com"
          target="_blank"
          data-umami-event="battarang-link"
          >Battarang
          <span class="whitespace-nowrap"
            ><span>Notifier</span><span
              class="ml-2 inline-block transition-transform group-hover:translate-x-1"
              >-&gt;</span
            ></span
          ></a
        ><p class="mt-2 max-w-[60ch] text-sm text-gray-700">
          Get notified on another device when your android's battery is low or
          full
        </p>
      </div>

      <AndroidIcon class="h-7 w-7 translate-x-0.5 text-gray-700" />
    </article>

    {/* Fontmark */}
    <article class="flex items-center justify-between gap-3">
      <div class="flex-1">
        <a
          class="link group"
          href="https://chrome.google.com/webstore/detail/fontmark/hagjnfpnbaddimijdfbhhjhfiaenklfc"
          target="_blank"
          data-umami-event="fontmark-link"
        >
          <span class="whitespace-nowrap"
            ><span>Fontmark</span><span
              class="ml-2 inline-block transition-transform group-hover:translate-x-1"
              >-&gt;</span
            ></span
          ></a
        ><p class="mt-2 text-sm text-gray-700">
          Manage your favorite Google Fonts using bookmarks
        </p>
      </div>

      <ChromeIcon class="h-6 w-6 text-gray-700" />
    </article>

    {/* Redium */}
    <article class="flex items-center justify-between gap-3">
      <div class="flex-1">
        <a
          class="link group"
          href="https://chrome.google.com/webstore/detail/aapiedkipcbeplicbbicchmdmpinhjdl"
          target="_blank"
          data-umami-event="redium-link"
        >
          <span class="whitespace-nowrap"
            ><span>Redium</span><span
              class="ml-2 inline-block transition-transform group-hover:translate-x-1"
              >-&gt;</span
            ></span
          ></a
        ><p class="mt-2 text-sm text-gray-700">
          Automatically unblock medium articles through proxies
        </p>
      </div>

      <ChromeIcon class="h-6 w-6 text-gray-700" />
    </article>

    {/* TruecallerJS Bot */}
    <article class="flex items-center justify-between gap-3">
      <div class="flex-1">
        <a
          class="link group"
          href="https://t.me/truecallerjs_bot"
          target="_blank"
          data-umami-event="truecallerjs_bot-link"
          >TruecallerJS Search
          <span class="whitespace-nowrap"
            ><span>Bot</span><span
              class="ml-2 inline-block transition-transform group-hover:translate-x-1"
              >-&gt;</span
            ></span
          ></a
        ><p class="mt-2 text-sm text-gray-700">
          A Telegram bot to lookup phone number info via Truecaller
        </p>
      </div>

      <TelegramIcon class="h-6 w-6 text-gray-700" />
    </article>

    {/* GitHub Profile */}
    <article class="flex items-center justify-between gap-3">
      <div class="flex-1">
        <a
          class="link group"
          href="https://github.com/ni554n"
          target="_blank"
          data-umami-event="github-link"
          >GitHub
          <span class="whitespace-nowrap"
            ><span>Profile</span><span
              class="ml-2 inline-block transition-transform group-hover:translate-x-1"
              >-&gt;</span
            ></span
          ></a
        ><p class="mt-2 text-sm text-gray-700">
          Other Open-source projects I maintain
        </p>
      </div>

      <GitHubLogo class="h-6 w-6 text-gray-700" />
    </article>

    {/* LinkedIn Profile */}
    <article class="flex items-center justify-between gap-3">
      <div class="flex-1">
        <a
          class="link group"
          href="https://www.linkedin.com/in/ni554n/details/projects/"
          target="_blank"
          >LinkedIn
          <span class="whitespace-nowrap"
            ><span>Profile</span><span
              class="ml-2 inline-block transition-transform group-hover:translate-x-1"
              >-&gt;</span
            ></span
          ></a
        ><p class="mt-2 text-sm text-gray-700">
          Timeline of my completed apps for clients
        </p>
      </div>

      <LinkedInLogo class="h-6 w-6 text-gray-700" />
    </article>
  </div>
</section>

<style>
  article:has(a:hover) svg {
    color: theme(colors.rose);
  }
</style>
