<section>
  <h1 class="text-gold">
    <i class="bx bx-widget relative -left-2.5"></i>Projects
  </h1>

  <div class="divide-y divide-gold/25 [&_article]:ml-5 [&_article]:py-3">
    <article class="flex items-center justify-between">
      <div class="flex-1">
        <a
          class="link group hover:no-underline"
          href="https://github.com/ni554n"
          target="_blank"
          data-umami-event="github-link"
          ><span class="hover:underline">Github Profile</span><span
            class="ml-2 inline-block transition-transform group-hover:translate-x-1"
            >-&gt;</span
          ></a
        ><p class="mt-2 text-sm text-gray-700">
          Open-source projects I maintain
        </p>
      </div>

      <i class="bx-fw bx bxl-github relative left-2 text-2xl text-gray-700"></i>
    </article>

    <article class="flex items-center justify-between">
      <div class="flex-1">
        <a
          class="link group hover:no-underline"
          href="https://www.linkedin.com/in/ni554n/details/projects/"
          target="_blank"
          ><span class="hover:underline">LinkedIn Profile</span><span
            class="ml-2 inline-block transition-transform group-hover:translate-x-1"
            >-&gt;</span
          ></a
        ><p class="mt-2 text-sm text-gray-700">
          Timeline of my completed apps
        </p>
      </div>

      <i
        class="bx-fw bx bxl-linkedin-square relative left-2 text-2xl text-gray-700"
      ></i>
    </article>
  </div>
</section>

<style>
  article:has(a:hover) i {
    color: theme(colors.rose);
  }
</style>
