---
import SkillsIcon from "./assets/SkillsIcon.astro";

---

<section>
  <h1 class="text-gold">
    <SkillsIcon class="relative -left-2.5 inline-block h-5 w-5 align-text-top" />Skills
  </h1>

  <div class="divide-y divide-gold/25 [&_article]:ml-5 [&_article]:py-3">
    <article>
      <h2>Full Stack Web Development</h2>

      <p class="mr-4 mt-2 text-sm text-gray-700">
        I'm all-in on bleeding "Edge" serverless tech. My weapons of choice are
        Astro + SolidJS / Next.js + React with Tailwind CSS.
      </p>
    </article>

    <article>
      <h2>Android Development</h2>

      <p class="mr-4 mt-2 text-sm text-gray-700">
        I've been making Android apps for a long time. As a result, I know
        ins-n-outs of Material Design system.
      </p>
    </article>

    <article>
      <h2>UI &amp; UX Design</h2>

      <p class="mr-4 mt-2 text-sm text-gray-700">
        I design everything in Figma. I've a<span style="opacity: 0.5"
          >n un</span
        >healthy obsession with making design intuitive and visually perfect.
      </p>
    </article>
  </div>
</section>
